<%= render "shared/navigation" %>

<h1>Listing <%= @fb_group.name %> Facebook Threads</h1>

<%= form_tag(fb_group_path(@fb_group), method: "patch") do %>
  <%= label_tag(:fb_access_token, "FB access token") %>
  <%= text_field_tag(:fb_access_token) %>
  <%= submit_tag("Check latest postings") %>
<% end %>

<table>
  <tr>
    <th>Author</th>
    <th>Text</th>
  </tr>
  <% @fb_group.fb_threads.each do |fb_thread| %>
  <%= render partial: "fb_threads/row", object: fb_thread %>
  <% end %>
</table>

